@import "tailwindcss";

@font-face {
  font-family: "Helvetica Neue-LT";
  src: url("/fonts/HelveticaNeueLight.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueRoman.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SangBleu Sans";
  src: url("/fonts/sangbleu-sans-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SangBleu Sans Regular";
  src: url("/fonts/sangbleu-sans-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.neue-font {
  font-family: "Helvetica Neue-LT", sans-serif;
}
.body-font {
  font-family: "SangBleu Sans", sans-serif;
  line-height: 1.2;
  font-size: 16px;
  color: #000;
  background-color: #edebe9;
}

/* SERVICES FILE */
.perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotateY-180 {
  transform: rotateY(180deg);
}
/* END OF SERVICE FILE */

.contact-bg {
  background-image: url("/images/blob-grad.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.input-dotted:focus {
  outline-style: dotted;
  outline-width: 1px;
  outline-color: black;
}

.residential-bg,
.workspace-bg,
.audio-visual-bg,
.security-bg {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.5);
}

.residential-bg {
  background-image: url("/images/Residential-1.jpg");
}

.workspace-bg {
  background-image: url("/images/Workspace-1.jpg");
}

.audio-visual-bg {
  background-image: url("/images/Audio-visual.jpg");
}

.security-bg {
  background-image: url("/images/SECURITY-PAGE.jpg");
}

::selection {
  background-color: #ddd0c8;
}

@media (max-width: 768px) {
  .residential-bg,
  .workspace-bg,
  .audio-visual-bg,
  .security-bg {
    background-attachment: scroll;
  }
}
